<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Ironhack Bureau Investigation</title>
</head>
<body>
  Hello, Admin!

  <ul>
  <% users.forEach((user) => { %>
    <li>
      <%= user.username %> <%= user.role %>
    </li>
    <form action="/admin" method="POST">
      <label for="username">Username</label>
      <input type="text" id="username" name="username" value="<%= user.username  %>">

      <label for="users">Role</label>
      <input type="text" name="role" id="role" value="<%= user.role %>">

      <button type="submit">Update Users</button>
    </form>
  <%  }) %>
</ul>



</body>
</html>
